[submodule "external/hacktricks"]
	path = external/hacktricks
	url = https://github.com/HackTricks-wiki/hacktricks.git
[submodule "external/pentest-grimoire"]
	path = external/pentest-grimoire
	url = https://github.com/n0m4d-eng/Security_Notes.git
[submodule "external/payloads-all-the-things"]
	path = external/payloads-all-the-things
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "external/twigonometry-cyber"]
	path = external/twigonometry-cyber
	url = https://github.com/Twigonometry/Cybersecurity-Notes.git
[submodule "external/gtfobins"]
	path = external/gtfobins
	url = https://github.com/GTFOBins/GTFOBins.github.io
[submodule "external/lolbas"]
	path = external/lolbas
	url = https://github.com/LOLBAS-Project/LOLBAS
[submodule "external/cheatsheets"]
	path = external/cheatsheets
	url = https://github.com/rstacruz/cheatsheets
[submodule "external/gtfo-bins"]
	path = external/gtfo-bins
	url = https://github.com/GTFOBins/GTFOBins.github.io.git
[submodule "external-tools/AutoRecon"]
	path = external-tools/AutoRecon
	url = https://github.com/AutoRecon/AutoRecon.git
[submodule "external/internal-all-the-things"]
	path = external/internal-all-the-things
	url = https://github.com/swisskyrepo/InternalAllTheThings.git
